.humbSwitch {
  min-width: 45px;
  min-height: 23px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  padding-top: 4px;
  margin-right: 10px;
  span{
    width: 100%;
    height: 8px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 4px;
  }
}


.searchGrid {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.557);
  backdrop-filter: blur(3px);
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  .grid{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    height: fit-content;
    max-height: 600px;
    overflow: hidden;
    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 35px;
      .logo{
        font-size: 1.8em;
        font-family: 'ClashDisplay-Variable';
        font-weight: 900;
        color: var(--txt);
      }
      .searchInput {
        background-color: var(--bgPrimary);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        min-height: 40px;
        border-radius: 50px;
        border: 1px solid var(--border);
        width: 500px;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        input{
          background-color: transparent;
          outline: none;
          border: none;
          font-size: 1em;
          height: 100%;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
        }
        span{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg{
            color: var(--txt);
            height: 25px;
            width: 25px;
          }
          &:hover{
            background-color: var(--bgPrimary);
          }
        }
      }
      .close{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--bgPrimary);
        svg{
          color: var(--txt);
          height: 25px;
          width: 25px;
        }
      }
    }


    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 25px;
      .defaultKeywords{
        width: 500px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        h3{
          font-size: 0.9em;
          color: var(--txtPrimary);
          font-weight: 500;
          margin-bottom: 30px;
        }
        a{
          color: var(--txtPrimary);
          font-size: 1em;
          font-weight: 600;
          margin-bottom: 10px;
          padding: 6px 0px;
        }
      }
      .results {
        padding: 0px 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        .keywords {
          display: flex;
          flex-direction: column;
          max-width: 100%;
          min-width: 150px;
          h3{
            margin-bottom: 15px;
            color: var(--txtPrimary);
            font-size: 1em;
          }
          a{
            color: var(--txt);
            font-size: 1.2em;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 6px 0px;
          }
        }
        .products{
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          margin-left: 100px;
          max-width: calc(100% - 150px);
          .productCard {
            width: calc(100% / 5 - 40px);
            margin: 0px 10px;
            height: 100%;
            .image {
              position: relative;
              span{
                position: absolute;
                left: 10px;
                top: 10px;
                background-color: var(--red);
                color: var(--txtLight);
                border-radius: 50px;
                font-size: 0.7em;
                padding: 3px 6px;
              }
              img{
                object-fit: cover;
                max-width: 100%;
              }
            }
            .info {
              margin-top: 5px;
              h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--txt);
                font-size: 0.9em;
              }
              .price {
                display: flex;
                flex-direction: row;
                margin-top: 5px;
                span{
                  color: var(--txt);
                  font-size: 0.9em;
                  font-weight: 400;
                  margin-right: 10px;
                }
                .oldPrice{
                  text-decoration: line-through;
                }
                .offerPrice{
                  color: var(--red);
                }
              }
              .save{
                font-size: 0.9em;
                color: var(--red);
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.sideListWrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(0px);
  pointer-events: none;
  transition: all 0.1s ease;
  .sideList {
    height: 100%;
    background-color: var(--bg);
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    transition: all 0.2s ease;
    overflow: hidden;

    .thirdNestedList{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: var(--bg);
      padding: 40px 25px;
      transition: left 0.1s ease;
      .close{
        width: fit-content;
        display: flex;
        flex-direction: row;
        font-size: 1.4em;
        cursor: pointer;
        margin-bottom: 40px;
        svg{
          margin-right: 10px;
        }
      }
      .links{
        a{
          font-size: 1.3em;
          font-weight: 600;
          color: var(--txt);
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 25px;
          cursor: pointer;
          &:hover{
            color: var(--txt);
          }
        }
      }
    }

    .categoryNestedList{
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: var(--bg);
      padding: 40px 25px;
      transition: all 0.2s ease;
      .close{
        width: fit-content;
        display: flex;
        flex-direction: row;
        font-size: 1.4em;
        cursor: pointer;
        margin-bottom: 40px;
        svg{
          margin-right: 10px;
        }
      }
      .links{
        display: flex;
        flex-direction: column;
        h3{
          font-size: 1.3em;
          font-weight: 600;
          color: var(--txt);
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 25px;
          cursor: pointer;
          &:hover{
            color: var(--txt);
          }
        }
      }
    }

    .accountNestedList{
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: var(--bg);
      padding: 40px 25px;
      transition: all 0.2s ease;
      .close{
        width: fit-content;
        display: flex;
        flex-direction: row;
        font-size: 1.4em;
        cursor: pointer;
        margin-bottom: 40px;
        svg{
          margin-right: 10px;
        }
      }
      .username {
        font-size: 1.6em;
        color: var(--txt);
        font-weight: 400;
        margin-bottom: 25px;
      }
      .links{
        display: flex;
        flex-direction: column;
        a{
          font-size: 1.1em;
          font-weight: 500;
          color: var(--txtPrimary);
          margin-bottom: 15px;
          &:hover{
            color: var(--txt);
          }
        }
      }
    }
    .top{
      .header{
        padding: 15px 20px;
        .close{
          cursor: pointer;
          svg{
            height: fit-content;
            width: 30px;
          }
        }
      }
      .account{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        span{
          display: flex;
          align-items: center;
          svg{
            margin-right: 5px;
            height: 24px;
            width: 24px;
          }
        }
      }
    
      .links{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        a,h3{
          padding: 15px 0px;
          color: var(--txt);
          font-size: 1.3em;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
      }
    }
    .fastExtentions {
      width: 100%;
      padding: 10px 20px;
      a{
        padding: 15px 0px;
        color: var(--txt);
        font-size: 1.3em;
        font-weight: 600;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
        svg{
          margin-right: 10px;
        }
        .bagCount{
          position: absolute;
          background-color: var(--red);
          color: var(--txtLight);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          font-size: 0.4em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}




@media screen and  (min-width:320px) and (max-width:480px){
  .searchGrid{
    .grid{
      height: 100% !important;
      max-height: 100% !important;
      overflow-y: auto;
      .header{
        padding: 15px 20px;
        .logo{
          display: none;
        }
        .searchInput{
          width: 100%;
          input{
            width: 100%;
          }
        }
        .close{
          min-width: 40px;
          min-height: 40px;
          margin-left: 10px;
        }
      }
      .content{
        .defaultKeywords{
          padding-left: 30px;
        }
        .results{
          flex-direction: column;
          .keywords{
            padding-left: 10px;
          }
          .products{
            max-width: 100%;
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            margin-top: 10px;
            .productCard{
              width: calc(100% / 2 - 20px);
              height: fit-content;
              margin: 10px;
            }
          }
        }
      }
    }
  }
  .humbSwitch{
    display: block;
  }
}
  
@media screen and (min-width:481px) and (max-width:750px){
  .searchGrid{
    .grid{
      height: 100% !important;
      max-height: 100% !important;
      overflow-y: auto;
      .header{
        padding: 15px 20px;
        .logo{
          display: none;
        }
        .searchInput{
          width: 100%;
          input{
            width: 100%;
          }
        }
        .close{
          min-width: 40px;
          min-height: 40px;
          margin-left: 10px;
        }
      }
      .content{
        justify-content: flex-end;
        .defaultKeywords{
          padding-left: 30px;
        }
        .results{
          flex-direction: column;
          .keywords{
            padding-left: 10px;
          }
          .products{
            max-width: 100%;
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            margin-top: 10px;
            .productCard{
              width: calc(100% / 2 - 20px);
              height: fit-content;
              margin: 10px;
            }
          }
        }
      }
    }
  }
  .humbSwitch{
    display: block;
  }
}
  
@media screen and (min-width:751px) and (max-width:1224px){
  .searchGrid{
    .grid{
      height: 100% !important;
      max-height: 100% !important;
      overflow-y: auto;
      .header{
        padding: 20px 20px;
        .logo{
          display: none;
        }
        .searchInput{
          width: 100%;
          input{
            width: 100%;
          }
        }
        .close{
          min-width: 40px;
          min-height: 40px;
          margin-left: 10px;
        }
      }
      .content{
        justify-content: flex-start;
        .defaultKeywords{
          padding-left: 50px;
        }
        .results{
          flex-direction: column;
          .keywords{
            padding-left: 10px;
          }
          .products{
            max-width: 100%;
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            margin-top: 10px;
            .productCard{
              width: calc(100% / 3 - 20px);
              height: fit-content;
              margin: 10px;
            }
          }
        }
      }
    }
  }
  .humbSwitch{
    display: block;
  }
}
  
@media screen and (min-width:1225px){

}
  
@media screen and (min-width:1200px){

}
