*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

:root{
    --bg: white;
    --bgPrimary: #f5f5f5;
    --border: #e5e5e5;
    --txt: black;
    --txtPrimary: rgba(0, 0, 0, 0.737);
    --txtLight: white;
    --red: #FF0000;
    --primary: #c9ff18;
}


body{
    background-color: var(--bg);
    min-height: 400vh;
    z-index: 2s;
    overflow-x: hidden;
}